<div id="contents">
  <%= render partial: "home/error" %>
  <div class="container">
    <div class="row">
      <% if @posts.present? %>
        <div class="col-4">
          <div class="my-2">
            <%= link_to post_path @posts[0].id do %>
              <%= attachment_image_tag @posts[0], :image, format: 'jpeg' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "layouts/create_modal" %>